<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes">

<listeners>
	<listener class-name="com.vTiger.genericLib.AnnotationTransformer"></listener>
</listeners>
  <test thread-count="5" name="Test" parallel="classes">
    <classes>
      <class name="com.vTiger.CreateOrganizationTest.CreateDuplicateOrganizationUsingQuickCreateTest"/>
      <class name="com.vTiger.CreateOrganizationTest.CreateInvalidOrganizationTest"/>
      <class name="com.vTiger.CreateOrganizationTest.CreateOrganizationUsingQuickCreateAndAssignToGroupTest"/>
      <class name="com.vTiger.CreateOrganizationTest.CreateOrganizationAssignToGroupTest"/>
      <class name="com.vTiger.CreateOrganizationTest.CreateOrganizationAssignToUserTest"/>
      <class name="com.vTiger.CreateOrganizationTest.CreateOrganizationUsingQuickCreate"/>
      <class name="com.vTiger.CreateOrganizationTest.CreateDuplicateOrganizationTest"/>
      <class name="com.vTiger.CreateOrganizationTest.CreateOrganizationTest"/>
      <class name="com.vTiger.CreateOrganizationTest.CreateOrganization_Assign_IndustryTest"/>
      <class name="com.vTiger.CreateOrganizationTest.CreateOrganization_Assign_MemberOfTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
